node_modules

dist

.git
.gitignore
.gitattributes

npm-debug.log
pnpm-debug.log
*.log

.env
.env.*

.idea
.vscode
*.iml

Dockerfile
docker/
.dockerignore

coverage
**/*.spec.ts
**/*.test.ts

*.md
README*